In [34]:
import pandas as pd

In [35]:
import warnings
warnings.filterwarnings("ignore")

In [36]:
dataset=pd.read_csv("Crop_recommendation.csv")

In [37]:
dataset

,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,N,P,K,temperature,humidity,ph,rainfall,label,label.1,label.2,label.3,label.4,label.5,label.6
0,0,0,0,0,0,0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,rice,rice,rice,rice,rice,rice
1,1,1,1,1,1,1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,rice,rice,rice,rice,rice,rice
2,2,2,2,2,2,2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,rice,rice,rice,rice,rice,rice
3,3,3,3,3,3,3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,rice,rice,rice,rice,rice,rice
4,4,4,4,4,4,4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,rice,rice,rice,rice,rice,rice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,2195,2195,2195,2195,2195,2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,coffee,coffee,coffee,coffee,coffee,coffee
2196,2196,2196,2196,2196,2196,2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,coffee,coffee,coffee,coffee,coffee,coffee
2197,2197,2197,2197,2197,2197,2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,coffee,coffee,coffee,coffee,coffee,coffee
2198,2198,2198,2198,2198,2198,2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,coffee,coffee,coffee,coffee,coffee,coffee
2199,2199,2199,2199,2199,2199,2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,coffee,coffee,coffee,coffee,coffee,coffee

In [38]:
dataset.info

<bound method DataFrame.info of       Unnamed: 0.5  Unnamed: 0.4  Unnamed: 0.3  Unnamed: 0.2  Unnamed: 0.1  \
0                0             0             0             0             0
1                1             1             1             1             1
2                2             2             2             2             2
3                3             3             3             3             3
4                4             4             4             4             4
...            ...           ...           ...           ...           ...
2195          2195          2195          2195          2195          2195
2196          2196          2196          2196          2196          2196
2197          2197          2197          2197          2197          2197
2198          2198          2198          2198          2198          2198
2199          2199          2199          2199          2199          2199

      Unnamed: 0    N   P   K  temperature   humidity        ph    rainfall  \
0              0   90  42  43    20.879744  82.002744  6.502985  202.935536
1              1   85  58  41    21.770462  80.319644  7.038096  226.655537
2              2   60  55  44    23.004459  82.320763  7.840207  263.964248
3              3   74  35  40    26.491096  80.158363  6.980401  242.864034
4              4   78  42  42    20.130175  81.604873  7.628473  262.717340
...          ...  ...  ..  ..          ...        ...       ...         ...
2195        2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196        2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197        2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198        2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199        2199  104  18  30    23.603016  60.396475  6.779833  140.937041

       label label.1 label.2 label.3 label.4 label.5 label.6
0       rice    rice    rice    rice    rice    rice    rice
1       rice    rice    rice    rice    rice    rice    rice
2       rice    rice    rice    rice    rice    rice    rice
3       rice    rice    rice    rice    rice    rice    rice
4       rice    rice    rice    rice    rice    rice    rice
...      ...     ...     ...     ...     ...     ...     ...
2195  coffee  coffee  coffee  coffee  coffee  coffee  coffee
2196  coffee  coffee  coffee  coffee  coffee  coffee  coffee
2197  coffee  coffee  coffee  coffee  coffee  coffee  coffee
2198  coffee  coffee  coffee  coffee  coffee  coffee  coffee
2199  coffee  coffee  coffee  coffee  coffee  coffee  coffee

[2200 rows x 20 columns]>

In [39]:
dataset.isnull().sum()

Unnamed: 0.5    0
Unnamed: 0.4    0
Unnamed: 0.3    0
Unnamed: 0.2    0
Unnamed: 0.1    0
Unnamed: 0      0
N               0
P               0
K               0
temperature     0
humidity        0
ph              0
rainfall        0
label           0
label.1         0
label.2         0
label.3         0
label.4         0
label.5         0
label.6         0
dtype: int64

In [40]:
dataset

,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,N,P,K,temperature,humidity,ph,rainfall,label,label.1,label.2,label.3,label.4,label.5,label.6
0,0,0,0,0,0,0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,rice,rice,rice,rice,rice,rice
1,1,1,1,1,1,1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,rice,rice,rice,rice,rice,rice
2,2,2,2,2,2,2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,rice,rice,rice,rice,rice,rice
3,3,3,3,3,3,3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,rice,rice,rice,rice,rice,rice
4,4,4,4,4,4,4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,rice,rice,rice,rice,rice,rice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,2195,2195,2195,2195,2195,2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,coffee,coffee,coffee,coffee,coffee,coffee
2196,2196,2196,2196,2196,2196,2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,coffee,coffee,coffee,coffee,coffee,coffee
2197,2197,2197,2197,2197,2197,2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,coffee,coffee,coffee,coffee,coffee,coffee
2198,2198,2198,2198,2198,2198,2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,coffee,coffee,coffee,coffee,coffee,coffee
2199,2199,2199,2199,2199,2199,2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,coffee,coffee,coffee,coffee,coffee,coffee

In [41]:
quan=['N','P','K','temperature','humidity', 'ph','rainfall']
qual=['label']

In [42]:
dataset.columns

Index(['Unnamed: 0.5', 'Unnamed: 0.4', 'Unnamed: 0.3', 'Unnamed: 0.2',
       'Unnamed: 0.1', 'Unnamed: 0', 'N', 'P', 'K', 'temperature', 'humidity',
       'ph', 'rainfall', 'label', 'label.1', 'label.2', 'label.3', 'label.4',
       'label.5', 'label.6'],
      dtype='object')

In [43]:
dir(dataset)

['K',
 'N',
 'P',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'humidity',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'label',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'ph',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rainfall',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'temperature',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [44]:
dataset['N'].dtypes

dtype('int64')

In [45]:
#if(dataset['N'].dtype=='O'):
   # print(quan)
#else:
   # print(qual)

In [46]:
 def quanQual(dataset):
     
     quan=[]
     qual=[]
     for columnName in dataset.columns:
         if(dataset[columnName].dtype=='O'):
             qual.append(columnName)
         else:
             quan.append(columnName)
     return quan,qual

In [47]:
quan

['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']

In [48]:
qual

['label']

In [49]:
quanQual(dataset)

(['Unnamed: 0.5',
  'Unnamed: 0.4',
  'Unnamed: 0.3',
  'Unnamed: 0.2',
  'Unnamed: 0.1',
  'Unnamed: 0',
  'N',
  'P',
  'K',
  'temperature',
  'humidity',
  'ph',
  'rainfall'],
 ['label', 'label.1', 'label.2', 'label.3', 'label.4', 'label.5', 'label.6'])

In [50]:
quan

['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']

In [51]:
qual

['label']

In [52]:
dataset = pd.get_dummies(dataset,dtype=int,drop_first=True)

In [53]:
dataset

,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,N,P,K,temperature,...,label.6_mango,label.6_mothbeans,label.6_mungbean,label.6_muskmelon,label.6_orange,label.6_papaya,label.6_pigeonpeas,label.6_pomegranate,label.6_rice,label.6_watermelon
0,0,0,0,0,0,0,90,42,43,20.879744,...,0,0,0,0,0,0,0,0,1,0
1,1,1,1,1,1,1,85,58,41,21.770462,...,0,0,0,0,0,0,0,0,1,0
2,2,2,2,2,2,2,60,55,44,23.004459,...,0,0,0,0,0,0,0,0,1,0
3,3,3,3,3,3,3,74,35,40,26.491096,...,0,0,0,0,0,0,0,0,1,0
4,4,4,4,4,4,4,78,42,42,20.130175,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,2195,2195,2195,2195,2195,2195,107,34,32,26.774637,...,0,0,0,0,0,0,0,0,0,0
2196,2196,2196,2196,2196,2196,2196,99,15,27,27.417112,...,0,0,0,0,0,0,0,0,0,0
2197,2197,2197,2197,2197,2197,2197,118,33,30,24.131797,...,0,0,0,0,0,0,0,0,0,0
2198,2198,2198,2198,2198,2198,2198,117,32,34,26.272418,...,0,0,0,0,0,0,0,0,0,0
2199,2199,2199,2199,2199,2199,2199,104,18,30,23.603016,...,0,0,0,0,0,0,0,0,0,0

In [54]:
dataset['N'].mean()

50.551818181818184

In [55]:
dataset['N'].median()

37.0

In [56]:
dataset['N'].mode()

0    22
1    40
Name: N, dtype: int64

In [57]:
dataset['N'].mode()[0]

22

In [58]:
dataset.describe()

,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,N,P,K,temperature,...,label.6_mango,label.6_mothbeans,label.6_mungbean,label.6_muskmelon,label.6_orange,label.6_papaya,label.6_pigeonpeas,label.6_pomegranate,label.6_rice,label.6_watermelon
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,...,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,1099.500000,1099.500000,1099.500000,1099.500000,1099.500000,1099.500000,50.551818,53.362727,48.149091,25.616244,...,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455
std,635.229617,635.229617,635.229617,635.229617,635.229617,635.229617,36.917334,32.985883,50.647931,5.063749,...,0.208346,0.208346,0.208346,0.208346,0.208346,0.208346,0.208346,0.208346,0.208346,0.208346
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,5.000000,8.825675,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,549.750000,549.750000,549.750000,549.750000,549.750000,549.750000,21.000000,28.000000,20.000000,22.769375,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1099.500000,1099.500000,1099.500000,1099.500000,1099.500000,1099.500000,37.000000,51.000000,32.000000,25.598693,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1649.250000,1649.250000,1649.250000,1649.250000,1649.250000,1649.250000,84.250000,68.000000,49.000000,28.561654,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2199.000000,2199.000000,2199.000000,2199.000000,2199.000000,2199.000000,140.000000,145.000000,205.000000,43.675493,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [59]:
descriptive=pd.DataFrame()   #Univaraiteor descriptive -to describe dataset-to create table -DataFrame

In [60]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [61]:
descriptive

          N    P    K temperature humidity   ph rainfall
Mean    NaN  NaN  NaN         NaN      NaN  NaN      NaN
Median  NaN  NaN  NaN         NaN      NaN  NaN      NaN
Mode    NaN  NaN  NaN         NaN      NaN  NaN      NaN

In [62]:
descriptive["N"]["Median"]=0

In [63]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()

In [64]:
descriptive

,N,P,K,temperature,humidity,ph,rainfall
Mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.46948,103.463655
Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mode,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()#mean-take outliers ,median-not take outliers,mode-repeated
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]

In [66]:
descriptive

,N,P,K,temperature,humidity,ph,rainfall
Mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.46948,103.463655
Median,37.0,51.0,32.0,25.598693,80.473146,6.425045,94.867624
Mode,22,60,17,8.825675,14.25804,3.504752,20.211267

In [67]:
import numpy as np

In [68]:
np.percentile(dataset["N"],10)       #numerical -percentile, categorical-pichart

8.0

In [69]:
np.percentile(dataset["N"],50)       #numerical -percentile, categorical-pichart

37.0

In [70]:
np.percentile(dataset["N"],100)       #numerical -percentile, categorical-pichart

140.0

In [73]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","99%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()#mean-take outliers ,median-not take outliers,mode-repeated
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["Q4:100%"]=dataset[columnName].max()
    descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()

In [74]:
descriptive

,N,P,K,temperature,humidity,ph,rainfall
Mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.46948,103.463655
Median,37.0,51.0,32.0,25.598693,80.473146,6.425045,94.867624
Mode,22,60,17,8.825675,14.25804,3.504752,20.211267
Q1:25%,21.0,28.0,20.0,22.769375,60.261953,5.971693,64.551686
Q2:50%,37.0,51.0,32.0,25.598693,80.473146,6.425045,94.867624
Q3:75%,84.25,68.0,49.0,28.561654,89.948771,6.923643,124.267508
Q4:100%,140,145,205,43.675493,99.981876,9.935091,298.560117
99%,129.01,143.0,204.0,40.791352,96.966445,8.736512,267.991472
IQR,63.25,40.0,29.0,5.792279,29.686818,0.95195,59.715822
1.5rule,94.875,60.0,43.5,8.688419,44.530227,1.427925,89.573733
Lesser,-73.875,-32.0,-23.5,14.080956,15.731726,4.543768,-25.022047
Greater,179.125,128.0,92.5,37.250073,134.478998,8.351567,213.841241
Min,0,5,5,8.825675,14.25804,3.504752,20.211267
Max,140,145,205,43.675493,99.981876,9.935091,298.560117

In [75]:
#min value is not less than lesser value,so outliers is not present

In [76]:
descriptive["N"]["Lesser"]<descriptive["N"]["Min"]

True

In [77]:
descriptive["N"]["Min"]<descriptive["N"]["Lesser"]

False

In [78]:
lesser=[]
greater=[]
for columnName in quan:
    if(descriptive[columnName]["Min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [79]:
lesser

['temperature', 'humidity', 'ph']

In [80]:
greater

['P', 'K', 'temperature', 'ph', 'rainfall']

In [81]:
for columnName in lesser:   #Replace Outliers
    dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
for columnName in greater:
    dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

In [83]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","99%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()#mean-take outliers ,median-not take outliers,mode-repeated
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()

In [84]:
descriptive   #without outliers

,N,P,K,temperature,humidity,ph,rainfall
Mean,50.551818,52.743182,38.376364,25.58874,71.493347,6.464205,101.986465
Median,37.0,51.0,32.0,25.598693,80.473146,6.425045,94.867624
Mode,22,128,92.5,37.250073,15.731726,8.351567,213.841241
Q1:25%,21.0,28.0,20.0,22.769375,60.261953,5.971693,64.551686
Q2:50%,37.0,51.0,32.0,25.598693,80.473146,6.425045,94.867624
Q3:75%,84.25,68.0,49.0,28.561654,89.948771,6.923643,124.267508
Q4:100%,140.0,128.0,92.5,37.250073,99.981876,8.351567,213.841241
99%,129.01,128.0,92.5,37.250073,96.966445,8.351567,213.841241
IQR,63.25,40.0,29.0,5.792279,29.686818,0.95195,59.715822
1.5rule,94.875,60.0,43.5,8.688419,44.530227,1.427925,89.573733
Lesser,-73.875,-32.0,-23.5,14.080956,15.731726,4.543768,-25.022047
Greater,179.125,128.0,92.5,37.250073,134.478998,8.351567,213.841241
Min,0,5,5.0,14.080956,15.731726,4.543768,20.211267
Max,140,128,92.5,37.250073,99.981876,8.351567,213.841241

In [85]:
lesser=[]
greater=[]         #remove outliers step

for columnName in quan:
    if (descriptive[columnName]["Min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [86]:
lesser

[]

In [87]:
greater

[]

In [88]:
dataset["N"].value_counts     #starting value -index, next value

<bound method IndexOpsMixin.value_counts of 0        90
1        85
2        60
3        74
4        78
       ...
2195    107
2196     99
2197    118
2198    117
2199    104
Name: N, Length: 2200, dtype: int64>

In [89]:
freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative Frequency","Cusum"])

In [90]:
freqTable

Empty DataFrame
Columns: [Unique_Values, Frequency, Relative Frequency, Cusum]
Index: []

In [91]:
freqTable["Unique_Values"]=dataset["N"].value_counts().index
freqTable["Frequency"]=dataset["N"].value_counts().values
freqTable["Relative Frequency"]=(freqTable["Frequency"]/103)
freqTable["Cusum"]=freqTable["Relative Frequency"].cumsum()

In [92]:
def freqTable(columnName,dataset):
    freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative Frequency","Cusum"])
    freqTable["Unique_Values"]=dataset[columnName].value_counts().index
    freqTable["Frequency"]=dataset[columnName].value_counts().values
    freqTable["Relative Frequency"]=(freqTable["Frequency"]/103)
    freqTable["Cusum"]=freqTable["Relative Frequency"].cumsum()
    return freqTable

In [93]:
freqTable("N",dataset)

     Unique_Values  Frequency  Relative Frequency      Cusum
0               22         44            0.427184   0.427184
1               40         44            0.427184   0.854369
2               27         42            0.407767   1.262136
3               39         41            0.398058   1.660194
4               31         41            0.398058   2.058252
..             ...        ...                 ...        ...
132            136          2            0.019417  21.320388
133            139          1            0.009709  21.330097
134            135          1            0.009709  21.339806
135            130          1            0.009709  21.349515
136             46          1            0.009709  21.359223

[137 rows x 4 columns]

In [96]:
def Univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","99%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
    for columnName in quan:
        descriptive[columnName]["Mean"]=dataset[columnName].mean()
        descriptive[columnName]["Median"]=dataset[columnName].median()#mean-take outliers ,median-not take outliers,mode-repeated
        descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
        descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
        descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
        descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
        descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName].max()
        descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
        descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
        descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
        descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
        descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
        descriptive[columnName]["Min"]=dataset[columnName].min()
        descriptive[columnName]["Max"]=dataset[columnName].max()
    return descriptive

In [98]:
Univariate(dataset,quan)

,N,P,K,temperature,humidity,ph,rainfall
Mean,50.551818,52.743182,38.376364,25.58874,71.493347,6.464205,101.986465
Median,37.0,51.0,32.0,25.598693,80.473146,6.425045,94.867624
Mode,22,128,92.5,37.250073,15.731726,8.351567,213.841241
Q1:25%,21.0,28.0,20.0,22.769375,60.261953,5.971693,64.551686
Q2:50%,37.0,51.0,32.0,25.598693,80.473146,6.425045,94.867624
Q3:75%,84.25,68.0,49.0,28.561654,89.948771,6.923643,124.267508
Q4:100%,2200.0,2200.0,2200.0,2200.0,2200.0,2200.0,2200.0
99%,129.01,128.0,92.5,37.250073,96.966445,8.351567,213.841241
IQR,63.25,40.0,29.0,5.792279,29.686818,0.95195,59.715822
1.5rule,94.875,60.0,43.5,8.688419,44.530227,1.427925,89.573733
Lesser,-73.875,-32.0,-23.5,14.080956,15.731726,4.543768,-25.022047
Greater,179.125,128.0,92.5,37.250073,134.478998,8.351567,213.841241
Min,0,5,5.0,14.080956,15.731726,4.543768,20.211267
Max,140,128,92.5,37.250073,99.981876,8.351567,213.841241

In [99]:
dataset["N"].skew()      #skew value is negative -mean is high comparitive median

0.5097213691539147

In [100]:
dataset["N"].kurtosis()

-1.0582398753148494

In [101]:
def Univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","99%","IQR","1.5rule","Lesser","Greater","Min","Max","Kurtosis","Skew","Var","Std"],columns=quan)
    for columnName in quan:
        descriptive[columnName]["Mean"]=dataset[columnName].mean()
        descriptive[columnName]["Median"]=dataset[columnName].median()#mean-take outliers ,median-not take outliers,mode-repeated
        descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
        descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
        descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
        descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
        descriptive[columnName]["Q4:100%"]=dataset[columnName].max()
        descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
        descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
        descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
        descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
        descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
        descriptive[columnName]["Min"]=dataset[columnName].min()
        descriptive[columnName]["Max"]=dataset[columnName].max()
        descriptive[columnName]["Kurtosis"]=dataset[columnName].kurtosis()
        descriptive[columnName]["Skew"]=dataset[columnName].skew()
        descriptive[columnName]["Var"]=dataset[columnName].var()
        descriptive[columnName]["Std"]=dataset[columnName].std()
        
    return descriptive

In [102]:
Univariate(dataset,quan)

,N,P,K,temperature,humidity,ph,rainfall
Mean,50.551818,52.743182,38.376364,25.58874,71.493347,6.464205,101.986465
Median,37.0,51.0,32.0,25.598693,80.473146,6.425045,94.867624
Mode,22,128,92.5,37.250073,15.731726,8.351567,213.841241
Q1:25%,21.0,28.0,20.0,22.769375,60.261953,5.971693,64.551686
Q2:50%,37.0,51.0,32.0,25.598693,80.473146,6.425045,94.867624
Q3:75%,84.25,68.0,49.0,28.561654,89.948771,6.923643,124.267508
Q4:100%,140,128,92.5,37.250073,99.981876,8.351567,213.841241
99%,129.01,128.0,92.5,37.250073,96.966445,8.351567,213.841241
IQR,63.25,40.0,29.0,5.792279,29.686818,0.95195,59.715822
1.5rule,94.875,60.0,43.5,8.688419,44.530227,1.427925,89.573733
Lesser,-73.875,-32.0,-23.5,14.080956,15.731726,4.543768,-25.022047
Greater,179.125,128.0,92.5,37.250073,134.478998,8.351567,213.841241
Min,0,5,5.0,14.080956,15.731726,4.543768,20.211267
Max,140,128,92.5,37.250073,99.981876,8.351567,213.841241
Kurtosis,-1.05824,0.400539,0.335748,0.114717,0.287991,0.233634,-0.409915
Skew,0.509721,0.836609,1.11664,0.070778,-1.087575,0.146471,0.663507
Var,1362.889537,987.666165,550.386708,22.456265,494.374585,0.533321,2617.933258
Std,36.917334,31.427156,23.460322,4.738804,22.234536,0.730288,51.165743